swagger: '2.0'
info:
  title: rest-api
  version: '2'
host: api.fulcrumapp.com
basePath: /api
schemes:
  - https
paths:
  /v2/attachments:
    get:
      produces:
        - application/json
      parameters:
        - description: >-
            The ID of the record with which the attachment is associated. This
            is required when listing record attachments.
          in: query
          name: record_id
          type: string
        - description: >-
            The ID of the form with which the attachment is associated. This
            parameter will allow you to get all reference files within a form,
            NOT all of the record attachments in a form
          in: query
          name: form_id
          type: string
        - default: form
          description: >-
            The type of attachment to query for. Must be either `form` or
            `record`.
          in: query
          name: owner_type
          type: string
        - description: API Token. Required to authenticate the request.
          in: header
          name: x-apitoken
          type: string
      responses:
        '200':
          description: '200'
          schema:
            $ref: '#/definitions/AttachmentsResponse'
        '401':
          description: '401'
          schema:
            properties:
              error:
                example: Unauthorized
                type: string
            type: object
      deprecated: false
      description: Retrieve a list of attachments.
      operationId: get-all-attachments
      summary: Get All Attachments
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: API Token. Required to authenticate the request.
          in: header
          name: x-apitoken
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AttachmentCreateRequest'
      responses:
        '200':
          description: '200'
          schema:
            properties:
              headers:
                properties:
                  x-amz-meta-filename:
                    example: ''
                    type: string
                type: object
              id:
                example: 1a57f397-8d8c-4cce-8934-22217bd7c875
                type: string
              url:
                example: >-
                  https://fulcrumapp.s3.amazonaws.com/attachments/record/1a57f397-8d8c-4cce-8934-22217bd7c875?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20210625T225754Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=...
                type: string
            type: object
        '401':
          description: '401'
          schema:
            properties:
              error:
                example: Unauthorized
                type: string
            type: object
      deprecated: false
      description: >-
        There is only one parameter that is required for creating an attachment:
        `owners`. You must specify at least one owner of type `record` or
        `form`. If you create a `record` attachment you can optionally include a
        `name` and `file_size`. The name will be the name of the file shown in
        the record information. The file_size is only used for verifying that
        uploading this attachment will not exceed your current storage limit. If
        no file_size is provided the attachment may be rejected once it has been
        uploaded. The response will provide the `url` to upload (PUT) the file
        to.
      operationId: create-attachment
      summary: Create Attachment
  /v2/attachments/finalize:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: API Token. Required to authenticate the request.
          in: header
          name: x-apitoken
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AttachmentTrackRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '401':
          description: '401'
          schema:
            properties:
              error:
                example: Unauthorized
                type: string
            type: object
      deprecated: false
      description: >-
        The finalize endpoint is a required step for Form attachments. Use this
        endpoint to tell Fulcrum that your attachment has been uploaded.
      operationId: finalize-attachment
      summary: Finalize Attachment
  '/v2/attachments/{attachment_id}':
    delete:
      produces:
        - application/json
      parameters:
        - description: API Token. Required to authenticate the request.
          in: header
          name: x-apitoken
          type: string
        - default: Attachment ID
          description: The attachment's ID
          in: path
          name: attachment_id
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '401':
          description: '401'
          schema:
            properties:
              error:
                example: Unauthorized
                type: string
            type: object
      deprecated: false
      description: >-
        The delete endpoint only applies to Form attachments. Use this endpoint
        to delete an attachment. For record attachments, simply remove the
        association of an attachment from the record and the attachment will be
        deleted.
      operationId: delete-attachment
      summary: Delete Attachment
    get:
      produces:
        - application/json
      parameters:
        - description: The unique identifier of the attachment.
          in: path
          name: attachment_id
          required: true
          type: string
        - description: API Token. Required to authenticate the request.
          in: header
          name: x-apitoken
          type: string
      responses:
        '200':
          description: '200'
          schema:
            $ref: '#/definitions/Attachment'
        '401':
          description: '401'
          schema:
            properties:
              error:
                example: Unauthorized
                type: string
            type: object
      deprecated: false
      description: Retrieve metadata for a single attachment.
      operationId: get-single-attachment
      summary: Get Single Attachment
  /v2/audio.json:
    get:
      produces:
        - application/json
      parameters:
        - description: The ID of the record with which the audio file is associated.
          in: query
          name: record_id
          type: string
        - description: >-
            The ID of the form with which the audio file is associated. Leaving
            this blank will query against all of your audio files.
          in: query
          name: form_id
          type: string
        - description: 'If present, audio files will be sorted by updated_at date.'
          in: query
          name: newest_first
          type: boolean
        - description: Filter for audio files that have been completely processed.
          in: query
          name: processed
          type: boolean
        - description: Filter for audio files that have been completely stored.
          in: query
          name: stored
          type: boolean
        - description: Filter for audio files that have been completely uploaded.
          in: query
          name: uploaded
          type: boolean
        - default: 1
          description: The page number requested.
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: The number of items to return per page.
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AudiosResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a list of audio files.
      operationId: audio-get-all
      summary: Get All Audio
  /v2/audio/tracks.geojson:
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Set value to `points` to fetch tracks as GeoJSON points
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get GPS tracks for audio files in GeoJSON format.
      operationId: audio-get-all-tracks-geojson
      summary: Get GeoJSON Tracks for All Audio
  /v2/audio/tracks.gpx:
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get GPS tracks for audio files in GPX format.
      operationId: audio-get-all-tracks-gpx
      summary: Get GPX Tracks for All Audio
  /v2/audio/tracks.json:
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get GPS tracks for audio files in JSON format.
      operationId: audio-get-all-tracks-json
      summary: Get JSON Tracks for All Audio
  /v2/audio/tracks.kml:
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get GPS tracks for audio files in KML format.
      operationId: audio-get-all-tracks-kml
      summary: Get KML Tracks for All Audio
  /v2/audio/upload.json:
    post:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Upload audio with optional track file.
      operationId: audio-upload
      summary: Upload Audio
      x-readme:
        code-samples:
          - code: >-
              curl --request POST
              'https://api.fulcrumapp.com/api/v2/audio/upload' \

              --header 'Accept: application/json' \

              --header 'X-ApiToken: {token}' \

              --form 'audio[access_key]='$(uuidgen) \

              --form 'audio[file]=@/Users/bryan/Desktop/audio.m4a' \

              --form 'audio[track]=@/Users/bryan/Desktop/track.json'
            language: curl
            name: cURL
          - code: |-
              from fulcrum import Fulcrum
              fulcrum = Fulcrum('{token}')

              audio = fulcrum.audio.create('/Users/bryan/Desktop/audio.m4a')
              print(audio['audio'])
            language: python
            name: Python
          - code: >-
              const { Client } = require('fulcrum-app');

              const client = new Client('{token}');


              const fs = require('fs');

              const audio =
              fs.createReadStream('/Users/bryan/Desktop/audio.m4a');

              const track =
              fs.createReadStream('/Users/bryan/Desktop/track.json');


              client.audio.create(audio, {
                track: track
              })
                .then(created => console.log(created))
                .catch(error => console.log(error));
            language: javascript
            name: JavaScript
          - code: >-
              require 'fulcrum'


              client = Fulcrum::Client.new('{token}')


              audio = client.audio.create('/Users/bryan/Desktop/audio.m4a',
              'audio/x-m4a', {
                track: File.read('/Users/bryan/Desktop/track.json')
              })


              puts audio
            language: ruby
            name: Ruby
        samples-languages:
          - curl
          - python
          - javascript
          - ruby
  '/v2/audio/{audio_id}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SingleAudioResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a single audio file.
      operationId: audio-get-single-metadata
      summary: Get Audio Metadata
  '/v2/audio/{audio_id}.mp4':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Download the original audio file.
      operationId: audio-get-original-file
      summary: Get Original Audio File
  '/v2/audio/{audio_id}/track.geojson':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
        - description: Set value to `points` to fetch tracks as GeoJSON points
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get the GPS track for an audio file in GeoJSON format.
      operationId: audio-get-single-track-geojson
      summary: Get GeoJSON Audio Track
  '/v2/audio/{audio_id}/track.gpx':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get the GPS track for an audio file in GPX format.
      operationId: audio-get-single-track-gpx
      summary: Get GPX Audio Track
  '/v2/audio/{audio_id}/track.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get the GPS track for an audio file in JSON format.
      operationId: audio-get-single-track-json
      summary: Get JSON Audio Track
  '/v2/audio/{audio_id}/track.kml':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the audio file.
          in: path
          name: audio_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Get the GPS track for an audio file in KML format.
      operationId: audio-get-single-track-kml
      summary: Get KML Audio Track
  /v2/audit_logs.json:
    get:
      produces:
        - application/json
      parameters:
        - description: >-
            Valid options include: `export`, `data_export`, `membership`,
            `layer`, `project`, `audit_log`, `role`, `form`, `data_share`,
            `classification_set`, `authorization`, `choice_list`, `import`,
            `organization`, `workflow`, `webhook`
          in: query
          name: source
          type: string
        - description: >-
            The available actions vary by log type but a complete list of valid
            actions includes: `update`, `create`, `permission_update`,
            `download`, `delete`, `reset`, `share_enabled`, `share_disabled`,
            `update_credit_card`, `plan_change`, `billing_emails_change`,
            `update_storage`, `add_credit`, `change_default`.
          in: query
          name: activity
          type: string
        - description: >-
            Filter by ip address of the of the audit log action. The ip address
            must be an exact match in order to return in values from this
            filter.
          in: query
          name: ip
          type: string
        - description: >-
            Filter by user responsible for the logged changes. This parameter
            must be the Fulcrum ID for the user in question, which can be
            obtained from the membership API.
          in: query
          name: user
          type: string
        - description: Returns log entries since the given unix timestamp.
          format: date-time
          in: query
          name: updated_since
          type: string
        - description: Returns log entries before the given unix timestamp.
          format: date-time
          in: query
          name: updated_before
          type: string
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: audit-logs-get-all
      summary: Get All Audit Logs
  '/v2/audit_logs/{audit_log_id}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Audit Log ID
          in: path
          name: audit_log_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: audit-logs-get-single
      summary: Get Single Audit Log
  /v2/authorizations.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: authorizations-get-all
      summary: Get All Authorizations
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AuthorizationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: authorizations-create
      summary: Create Authorization
  '/v2/authorizations/{authorization_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Authorization ID
          in: path
          name: authorization_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: authorizations-delete
      summary: Delete Authorization
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Authorization ID
          in: path
          name: authorization_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: authorizations-get-single
      summary: Get Single Authorization
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Authorization ID
          in: path
          name: authorization_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AuthorizationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: authorizations-update
      summary: Update Authorization
  /v2/batch.json:
    get:
      produces:
        - application/json
      parameters:
        - default: '1'
          in: query
          name: page
          type: string
        - default: '20000'
          in: query
          name: per_page
          type: string
        - default: created_at
          in: query
          name: sort
          type: string
        - default: DESC
          description: One of DESC for descending or ASC for ascending
          in: query
          name: sort_direction
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-all-batches
      summary: Get All Batches
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: 'Using the batch operations API, you can bulk delete records from a form.'
      operationId: create-batch
      summary: Create Batch to Bulk Delete Records
      x-readme:
        code-samples:
          - code: |-
              {
                  "batch": {
                      "start": true,
                      "operations": [
                          {
                              "action": "delete", // delete is the only supported action type
                              "resource": "record", // record is the only support resource type
                              "form_id": "d1656c35-6959-4bb7-81a6-0fa4b6f94615",
                              "query": "_status = 'Approved'"
                          }
                      ]
                  }
              }
            language: text
        samples-languages:
          - text
  '/v2/batch/{batch_id}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: '1'
          in: query
          name: page
          type: string
        - default: '20000'
          in: query
          name: per_page
          type: string
        - description: The ID of the batch
          in: path
          name: batch_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-single-batch
      summary: Get Single Batch
  '/v2/batch/{batch_id}/operations.json':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: ID of the batch
          in: path
          name: batch_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchAddOperationsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: >-
        Using the batch operations API, you can bulk delete records from a form
        or update project, assignee, or status values on multiple records.
      operationId: add-batch-operations
      summary: Add batch operations
      x-readme:
        code-samples:
          - code: |-
              {
                  "batch": {
                      "start": true,
                      "operations": [
                          {
                              "action": "delete", // delete is the only supported action type
                              "resource": "record", // record is the only support resource type
                              "form_id": "d1656c35-6959-4bb7-81a6-0fa4b6f94615",
                              "query": "_status = 'Approved'"
                          }
                      ]
                  }
              }
            language: text
        samples-languages:
          - text
  '/v2/batch/{batch_id}/start.json':
    post:
      produces:
        - application/json
      parameters:
        - description: ID of the batch
          in: path
          name: batch_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Start your pending batch.
      operationId: start-batch
      summary: Start Batch
      x-readme:
        code-samples:
          - code: |-
              {
                  "batch": {
                      "start": true,
                      "operations": [
                          {
                              "action": "delete", // delete is the only supported action type
                              "resource": "record", // record is the only support resource type
                              "form_id": "d1656c35-6959-4bb7-81a6-0fa4b6f94615",
                              "query": "_status = 'Approved'"
                          }
                      ]
                  }
              }
            language: text
        samples-languages:
          - text
  /v2/changesets.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: changesets-get-all
      summary: Get All Changesets
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChangesetCreateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: changesets-create
      summary: Create Changeset
  '/v2/changesets/{changeset_id}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Changeset ID
          in: path
          name: changeset_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: changesets-get-single
      summary: Get Single Changeset
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Changeset ID
          in: path
          name: changeset_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChangesetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: changesets-update
      summary: Update Changeset
  '/v2/changesets/{changeset_id}/close.json':
    put:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Changeset ID
          in: path
          name: changeset_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: changesets-close
      summary: Close Changeset
  /v2/choice_lists.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: choice-lists-get-all
      summary: Get All Choice Lists
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChoiceListRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: choice-lists-create
      summary: Create Choice List
  '/v2/choice_lists/{choice_list_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Choice List ID
          in: path
          name: choice_list_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: choice-lists-delete
      summary: Delete Choice List
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Choice List ID
          in: path
          name: choice_list_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: choice-lists-get-single
      summary: Get Single Choice List
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Choice List ID
          in: path
          name: choice_list_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChoiceListRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: choice-lists-update
      summary: Update Choice List
  /v2/classification_sets.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: organization
          description: Type of classification sets to return
          enum:
            - organization
            - system
            - all
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: classification-sets-get-all
      summary: Get All Classification Sets
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ClassificationSetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: classification-sets-create
      summary: Create Classification Set
  '/v2/classification_sets/{classification_set_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Classification Set ID
          in: path
          name: classification_set_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: classification-sets-delete
      summary: Delete Classification Set
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Classification Set ID
          in: path
          name: classification_set_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: classification-sets-get-single
      summary: Get Single Classification Set
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Classification Set ID
          in: path
          name: classification_set_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ClassificationSetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: classification-sets-update
      summary: Update Classification Set
  /v2/forms.json:
    get:
      produces:
        - application/json
      parameters:
        - default: true
          description: schema=false will only return the form metadata
          in: query
          name: schema
          type: boolean
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: organization
          description: Types of forms to return
          enum:
            - organization
            - system
            - all
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-get-all
      summary: Get All Forms
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FormRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-create
      summary: Create Form
  '/v2/forms/{form_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Form ID
          in: path
          name: form_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-delete
      summary: Delete Form
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: true
          description: schema=false will only return the form metadata
          in: query
          name: schema
          type: boolean
        - description: Form ID
          in: path
          name: form_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-get-single
      summary: Get Single Form
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Form ID
          in: path
          name: form_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FormRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-update
      summary: Update Form
  '/v2/forms/{form_id}/history.json':
    get:
      produces:
        - application/json
      parameters:
        - description: Form ID
          in: path
          name: form_id
          required: true
          type: string
        - description: The form history version
          format: int32
          in: query
          name: version
          type: integer
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: forms-get-history
      summary: Get Form History
  /v2/groups.json:
    get:
      produces:
        - application/json
      parameters:
        - default: '1'
          in: query
          name: page
          type: string
        - default: '20000'
          in: query
          name: per_page
          type: string
        - default: false
          description: >-
            Set to `true` in order to see each group's assigned `member_ids`,
            `layer_ids`, `project_ids` and `form_ids`
          in: query
          name: associations
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-all-groups
      summary: Get All Groups
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - text/plain
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupCreateRequest'
      responses:
        '201':
          description: '201'
          schema:
            properties:
              group:
                properties:
                  description:
                    example: Hello group!
                    type: string
                  id:
                    example: 32185076-6d5a-4bb9-89f0-f049093ed800
                    type: string
                  name:
                    example: Name of group
                    type: string
                type: object
            type: object
        '400':
          description: '400'
      deprecated: false
      description: ''
      operationId: create-group
      summary: Create Group
  /v2/groups/change_permissions.json:
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - text/plain
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupPermissionChangeRequest'
      responses:
        '200':
          description: '200'
          schema:
            properties:
              group:
                properties:
                  description:
                    example: Hello group!
                    type: string
                  id:
                    example: 32185076-6d5a-4bb9-89f0-f049093ed800
                    type: string
                  name:
                    example: Name of group
                    type: string
                type: object
            type: object
        '400':
          description: '400'
      deprecated: false
      description: ''
      operationId: update-group-permissions
      summary: Update Group Permissions
  '/v2/groups/{group_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: ID of the group
          in: path
          name: group_id
          required: true
          type: string
      responses:
        '204':
          description: No Content
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: delete-group
      summary: Delete Group
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Group ID
          in: path
          name: group_id
          required: true
          type: string
        - default: false
          description: >-
            Set to `true` in order to see each group's assigned `member_ids`,
            `layer_ids`, `project_ids` and `form_ids`
          in: query
          name: associations
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-single-group
      summary: Get Single Group
    put:
      consumes:
        - application/json
      produces:
        - application/json
        - text/plain
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: ID of the group
          in: path
          name: group_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupUpdateRequest'
      responses:
        '200':
          description: '200'
          schema:
            properties:
              group:
                properties:
                  description:
                    example: Hello group!
                    type: string
                  id:
                    example: 32185076-6d5a-4bb9-89f0-f049093ed800
                    type: string
                  name:
                    example: Name of group
                    type: string
                type: object
            type: object
        '400':
          description: '400'
      deprecated: false
      description: ''
      operationId: update-group-name-description
      summary: Update Group Name / Description
  '/v2/groups/{group_id}/{resource}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Group ID
          in: path
          name: group_id
          required: true
          type: string
        - description: 'One of `members`, `projects`, `layers` or `forms`'
          in: path
          name: resource
          required: true
          type: string
        - default: 1
          description: Page of the response
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Amount of items in every page
          format: int32
          in: query
          name: per_page
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-group-resource
      summary: Get Group Resource
  /v2/layers.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: layers-get-all
      summary: Get All Layers
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LayerRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: layers-create
      summary: Create Layer
  '/v2/layers/{layer_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Layer ID
          in: path
          name: layer_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: layers-delete
      summary: Delete Layer
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Layer ID
          in: path
          name: layer_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: layers-get-single
      summary: Get Single Layer
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Layer ID
          in: path
          name: layer_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LayerRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: layers-update
      summary: Update Layer
  /v2/memberships.json:
    get:
      produces:
        - application/json
      parameters:
        - description: Limit members to a specific Form
          in: query
          name: form_id
          type: string
        - description: Limit members to a specific Project
          in: query
          name: project_id
          type: string
        - description: Limit members to a specific Layer
          in: query
          name: layer_id
          type: string
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: memberships-get-all
      summary: Get All Memberships
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MembershipCreateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: create-member
      summary: Create Member
  /v2/memberships/change_permissions.json:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PermissionChangeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: 'Add or remove membership permissions from layers, forms, or projects.'
      operationId: memberships-change-permissions
      summary: Change Permissions
  '/v2/memberships/{membership_id}.json':
    delete:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: The ID of the member
          in: path
          name: membership_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MembershipDeleteRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: delete-member
      summary: Delete Member
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Membership ID
          in: path
          name: membership_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: memberships-get-single
      summary: Get Single Membership
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: The ID of the member
          in: path
          name: membership_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MembershipUpdateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: >-
        You can use this to update parameters of a member, but this will not
        work if the member is apart of multiple organizations.
      operationId: update-member
      summary: Update Member
  /v2/permissions.json:
    get:
      produces:
        - application/json
      parameters:
        - default: member_projects
          description: >-
            The type of permission (member_forms, member_layers,
            member_projects, form_members, layer_members, or project_members)
          in: query
          name: type
          required: true
          type: string
        - description: >-
            The membership_id of the user or the id of the form, layer or
            project
          in: query
          name: object_id
          required: true
          type: string
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-all-memberships
      summary: Get Membership Permissions
  /v2/photos.json:
    get:
      produces:
        - application/json
      parameters:
        - description: The ID of the record with which the photo is associated.
          in: query
          name: record_id
          type: string
        - description: >-
            The ID of the form with which the photo is associated. Leaving this
            blank will query against all of your photos.
          in: query
          name: form_id
          type: string
        - description: 'If present, photos will be sorted by updated_at date.'
          in: query
          name: newest_first
          type: boolean
        - description: Filter for photos that have been completely processed.
          in: query
          name: processed
          type: boolean
        - description: Filter for photos that have been completely stored.
          in: query
          name: stored
          type: boolean
        - description: Filter for photos that have been completely uploaded.
          in: query
          name: uploaded
          type: boolean
        - default: 1
          description: The page number requested.
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: The number of items to return per page.
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PhotosResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a list of photos.
      operationId: photos-get-all-metadata
      summary: Get All Photos
    post:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Upload a photo file to associate with a record.
      operationId: photos-upload
      summary: Upload Photo
      x-readme:
        code-samples:
          - code: |-
              curl --request POST 'https://api.fulcrumapp.com/api/v2/photos' \
              --header 'Accept: application/json' \
              --header 'X-ApiToken: {token}' \
              --form 'photo[access_key]='$(uuidgen) \
              --form 'photo[file]=@/Users/bryan/Desktop/photo.jpg'
            language: curl
            name: cURL
          - code: |-
              from fulcrum import Fulcrum
              fulcrum = Fulcrum('{token}')

              photo = fulcrum.photos.create('/Users/bryan/Desktop/photo.jpg')
              print(photo['photo'])
            language: python
            name: Python
          - code: >-
              const { Client } = require('fulcrum-app');

              const client = new Client('{token}');


              const fs = require('fs');

              const photo =
              fs.createReadStream('/Users/bryan/Desktop/photo.jpg');


              client.photos.create(photo)
                .then(created => console.log(created))
                .catch(error => console.log(error));
            language: javascript
            name: JavaScript
          - code: |-
              require 'fulcrum'

              client = Fulcrum::Client.new('{token}')

              photo = client.photos.create('/Users/bryan/Desktop/photo.jpg')

              puts photo
            language: ruby
            name: Ruby
        samples-languages:
          - curl
          - python
          - javascript
          - ruby
  '/v2/photos/{photo_id}.jpg':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Download the original photo file.
      operationId: photos-get-single-file
      summary: Get Single Photo File
  '/v2/photos/{photo_id}.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SinglePhotoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a single photo.
      operationId: photos-get-single-metadata
      summary: Get Single Photo Metadata
  '/v2/photos/{photo_id}/large.jpg':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Download the large variant of a photo.
      operationId: photos-large-file
      summary: Photo Large File
  '/v2/photos/{photo_id}/large.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a photo's large variant.
      operationId: photos-large-metadata
      summary: Photo Large Metadata
  '/v2/photos/{photo_id}/thumbnail.jpg':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Download the thumbnail variant of a photo.
      operationId: photos-thumbnail-file
      summary: Photo Thumbnail File
  '/v2/photos/{photo_id}/thumbnail.json':
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: The unique identifier of the photo.
          in: path
          name: photo_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieve metadata for a photo's thumbnail variant.
      operationId: photos-thumbnail-metadata
      summary: Photo Thumbnail Metadata
  /v2/projects.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: projects-get-all
      summary: Get All Projects
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProjectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: projects-create
      summary: Create Project
  '/v2/projects/{project_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Project ID
          in: path
          name: project_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: projects-delete
      summary: Delete Project
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: Project ID
          in: path
          name: project_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: projects-get-single
      summary: Get Single Project
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Project ID
          in: path
          name: project_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProjectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: projects-update
      summary: Update Project
  /v2/query:
    get:
      produces:
        - application/json
      parameters:
        - description: The SQL query to execute.
          in: query
          name: q
          required: true
          type: string
        - default: csv
          description: >-
            The format of the results returned by the query. Options include
            `csv`, `json`, `geojson`, `postgres`.
          in: query
          name: format
          type: string
        - default: true
          description: Include headers for csv format?
          in: query
          name: headers
          type: boolean
        - default: false
          description: Include column metadata for `json` format?
          in: query
          name: metadata
          type: boolean
        - default: false
          description: Return row arrays instead of objects for `json` format?
          in: query
          name: arrays
          type: boolean
        - description: Table name for `postgres` format. Defaults to query.
          in: query
          name: table_name
          type: string
        - description: The name of the column used to sort on.
          in: query
          name: sort_column
          type: string
        - description: 'The sort direction (asc, desc).'
          in: query
          name: sort_direction
          type: string
        - default: 1
          description: The page number requested.
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: The number of items to return per page.
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: Application
          in: header
          name: User-Agent
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Execute a Query API request using HTTP GET.
      operationId: query-get
      summary: GET Query
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested.
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: The number of items to return per page.
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/QueryRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Execute a Query API request using HTTP POST.
      operationId: query-post
      summary: POST Query
  /v2/records.json:
    get:
      produces:
        - application/json
      parameters:
        - description: 'If present, records will be sorted by updated_at date.'
          in: query
          name: newest_first
          type: boolean
        - description: >-
            Bounding box of the records requested. Format should be:
            lat,long,lat,long (bottom, left, top, right).
          in: query
          name: bounding_box
          type: string
        - description: The id of the changeset associated with the record.
          in: query
          name: changeset_id
          type: string
        - description: >-
            The id of the form with which the record is associated. Leaving this
            blank will query against all of your records.
          in: query
          name: form_id
          type: string
        - description: >-
            The id of the project with which the record is associated. Leaving
            this blank will query against all of your records.
          in: query
          name: project_id
          type: string
        - description: >-
            Return only records which were created by the client (device) before
            the given time.
          format: date-time
          in: query
          name: client_created_before
          type: string
        - description: >-
            Return only records which were created by the client (device) after
            the given time.
          format: date-time
          in: query
          name: client_created_since
          type: string
        - description: >-
            Return only records which were updated by the client (device) before
            the given time.
          format: date-time
          in: query
          name: client_updated_before
          type: string
        - description: >-
            Return only records which were updated by the client (device) after
            the given time.
          format: date-time
          in: query
          name: client_updated_since
          type: string
        - description: >-
            Return only records which were created (on the server) before the
            given time.
          format: date-time
          in: query
          name: created_before
          type: string
        - description: >-
            Return only records which were created (on the server) after the
            given time.
          format: date-time
          in: query
          name: created_since
          type: string
        - description: >-
            Return only records which were updated (on the server) before the
            given time.
          format: date-time
          in: query
          name: updated_before
          type: string
        - description: >-
            Return only records which were updated (on the server) after the
            given time.
          format: date-time
          in: query
          name: updated_since
          type: string
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: '200'
          schema:
            $ref: '#/definitions/RecordsResponse'
        '400':
          description: '400'
          schema:
            properties:
              error:
                type: string
              status:
                type: integer
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/NotFoundResponse'
      deprecated: false
      description: Gets a list of records from your organization.
      operationId: records-get-all
      summary: Get a list of records
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - default: false
          description: Skips all app workflows
          in: header
          name: X-SkipWorkflows
          type: boolean
        - default: false
          description: Skips all app webhooks
          in: header
          name: X-SkipWebhooks
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RecordRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SingleRecordResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: >-
        Creates a new record in the specified form. You must provide the record
        data including form values, location information, and any associated
        metadata.
      operationId: records-create
      summary: Create a new record
  /v2/records/history.json:
    get:
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - description: >-
            Filters records to only those associated with the specified
            changeset ID.
          in: query
          name: changeset_id
          type: string
        - description: >-
            Filters records to only those that belonged to a form that has been
            deleted. Use this to retrieve data from removed forms.
          in: query
          name: deleted_form_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RecordHistoryResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: >-
        Retrieves historical record data from your organization. This endpoint
        is useful for accessing records from a specific changeset or retrieving
        records that belonged to a deleted form.
      operationId: records-get-all-history
      summary: List all record history
  '/v2/records/{record_id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - description: The unique identifier of the record to delete.
          in: path
          name: record_id
          required: true
          type: string
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: false
          description: Skips all app workflows
          in: header
          name: X-SkipWorkflows
          type: boolean
        - default: false
          description: Skips all app webhooks
          in: header
          name: X-SkipWebhooks
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Deletes a record from a form in your organization.
      operationId: records-delete
      summary: Delete a record
    get:
      produces:
        - application/json
      parameters:
        - description: The unique identifier of the record to retrieve.
          in: path
          name: record_id
          required: true
          type: string
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: '200'
          schema:
            $ref: '#/definitions/SingleRecordResponse'
        '400':
          description: '400'
          schema:
            properties:
              error:
                type: string
              status:
                type: integer
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/NotFoundResponse'
      deprecated: false
      description: >-
        Retrieves detailed information about a specific record by its ID. This
        includes all form field values, location data, timestamps, and
        associated metadata.
      operationId: records-get-single
      summary: Retrieve a specific record
    patch:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Record ID
          in: path
          name: record_id
          required: true
          type: string
        - default: false
          description: Skips all app workflows
          in: header
          name: X-SkipWorkflows
          type: boolean
        - default: false
          description: Skips all app webhooks
          in: header
          name: X-SkipWebhooks
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RecordPatchRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: >-
        Updates specific fields of an existing record without requiring the
        complete record object. Only the fields included in the request body
        will be modified, while all other fields remain unchanged. This is
        useful for updating individual field values or metadata.
      operationId: records-partial-update
      summary: Partially update a record
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: application/json
          in: header
          name: Accept
          type: string
        - default: application/json
          in: header
          name: Content-Type
          type: string
        - description: Record ID
          in: path
          name: record_id
          required: true
          type: string
        - default: false
          description: Skips all app workflows
          in: header
          name: X-SkipWorkflows
          type: boolean
        - default: false
          description: Skips all app webhooks
          in: header
          name: X-SkipWebhooks
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RecordRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Update a record.
      operationId: records-update
      summary: Update an existing record
  '/v2/records/{record_id}/history.json':
    get:
      produces:
        - application/json
      parameters:
        - description: >-
            The unique identifier of the record whose history you want to
            retrieve.
          in: path
          name: record_id
          required: true
          type: string
        - default: application/json
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RecordHistoryResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: Retrieves the complete version history of a specific record.
      operationId: records-get-history
      summary: Retrieve a specific record's history
  /v2/report_templates.json:
    get:
      produces:
        - application/json
      parameters:
        - default: 1
          description: The page number requested
          format: int32
          in: query
          name: page
          type: integer
        - default: 20000
          description: Number of items per page
          format: int32
          in: query
          name: per_page
          type: integer
        - description: The form to fetch reports for
          in: query
          name: form_id
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: get-all-report-templates
      summary: Get All Report Templates
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReportTemplateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: create-report-template
      summary: Create Report Template
  '/v2/report_templates/{id}.json':
    delete:
      produces:
        - application/json
      parameters:
        - description: The id of the report
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequestResponse'
      deprecated: false
      description: ''
      operationId: delete-report-template
      summary: Delete Report Template
    get:
      produces:
        - application/json
      parameters:
        - description: The id of the report
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmptySuccessResponse'
        '400':
[...]
